@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá, bem vinde a minha API de lista de contatos</h1>
    <p> Aqui você pode adicionar ou remover contatos como se fosse uma lista telefonica </P>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
